.ultimate-container{
    display: grid;
    place-content: center;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    position: relative;

}

.winner-X {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: fadeIn 0.5s forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.winner-X::before,
.winner-X::after {
    content: '';
    position: absolute;
    height: 150px;
    width: 50px;
    background-color: green;
  
    z-index: 3;
  
}

.winner-X::before {
    transform: rotate(45deg);
}

.winner-X::after {
    transform: rotate(-45deg);
}

.winner-O {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: fadeIn 0.5s forwards;
    overflow: hidden;
   
}

.winner-O::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color:green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.winner-O::after{
    content : '';
    position: absolute;
    height: 50%;
    width : 50%;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    z-index: 2
}

.winner-draw{
    background-color: green;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
