.cell-container{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transparent-container{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cell-container:hover {
    cursor :pointer;
    border-radius: 50%;
    background-color: #00ff00;
}


.render-X {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: white;
    animation: fadeIn 0.5s forwards;
}

.render-X::before,
.render-X::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 45px;
    background-color: green;
    top: 17px;
    left: 3px;
    /* transition: transform 0.5s ease; */
}

.render-X::before {
    transform: rotate(45deg);
}

.render-X::after {
    transform: rotate(-45deg);
}

.render-O {
    position: relative;
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    background-color: white;
    animation: fadeIn 0.5s forwards;
    overflow: hidden;
}

.render-O::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.render-O::after{
    content : '';
    position: absolute;
    height: 100%;
    width : 100%;
    border-radius: 50%;
    background-color: green;
    top: 0;
    left: 0;
    border: 0;
}
.cell-active{
    filter: drop-shadow(0 0 2.75rem crimson);
    background-color: #ffcccc;
}

.cell-disable{
    cursor:none;
    pointer-events: none;
    opacity: 0.5; 
    background-color: #dddddd; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


