:root{
    --strong-red-color: #380f17;
    --medium-red-color: #8f0b13;
    --light-red-color: #dc2011;
    --white-color: #efdfc5;
    --light-dark-color: #4c4f54;
    --strong-dark-color: #252b2b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --toast-background: #ECFDF5;
    --progress-color: #34D399; 
}

body{
    
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:  rgba(0,0,0,0.8);
}