*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --toast-background: #ECFDF5;
    --progress-color: #34D399; 
}

body{
    
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:  rgba(0,0,0,0.8);
}